<div class="flex justify-content-center align-items-center min-h-screen surface-ground">
  <p-card class="p-4 w-full md:w-4 shadow-2">
    <h2 class="text-center mb-4">Forgot Password</h2>
    
    <div class="mb-3">
      <label for="email" class="block mb-2">Enter your Email</label>
      <input pInputText id="email" type="email" [(ngModel)]="email" class="w-full form-control" placeholder="example@mail.com"/>
    </div>

    <div class="flex justify-content-between mt-4">
      <button pButton label="Cancel" class="p-button-secondary rounded px-2" (click)="cancel()"></button>
      <button pButton label="Submit" (click)="submitForgotPassword() " class="rounded px-2"></button>
    </div>
  </p-card>
</div>

