<div class="p-4 shadow-sm bg-white rounded">
  <div class="d-flex justify-content-end mb-3">
    <button pButton label="+ Add New" class="btn btn-primary rounde" (click)="openNew()"></button>
  </div>

  <p-table [value]="products" class="w-full">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Website</th>
        <th>Phones</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-i="rowIndex">
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.lastName }}</td>
        <td>{{ product.website }}</td>
        <td>
          <ul class="m-0 p-0">
            <li *ngFor="let phone of product.phones">{{ phone.number }}</li>
          </ul>
        </td>
        <td>
          <button  icon="pi pi-pencil" class="btn btn-primary rounded mr-2 small" (click)="editProduct(product, i)">Edit</button>
          <button icon="pi pi-trash" class="btn btn-primary rounded small" (click)="deleteProduct(i)">Delete</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Dialog -->
<p-dialog header="Product Details" [(visible)]="productDialog" [modal]="true" [style]="{width:'450px'}">
  <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <div class="p-fluid">
      <div class="p-field">
        <label>Name</label>
        <input type="text" pInputText formControlName="name"
               [ngClass]="{'is-invalid': productForm.get('name')?.invalid && productForm.get('name')?.touched}"/>
        <small class="text-danger" *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">Name is required</small>
      </div>

      <div class="p-field">
        <label>Last Name</label>
        <input type="text" pInputText formControlName="lastName"
               [ngClass]="{'is-invalid': productForm.get('lastName')?.invalid && productForm.get('lastName')?.touched}"/>
        <small class="text-danger" *ngIf="productForm.get('lastName')?.invalid && productForm.get('lastName')?.touched">Last Name is required</small>
      </div>

      <div class="p-field">
        <label>Website</label>
        <input type="text" pInputText formControlName="website"
               [ngClass]="{'is-invalid': productForm.get('website')?.invalid && productForm.get('website')?.touched}"/>
        <small class="text-danger" *ngIf="productForm.get('website')?.invalid && productForm.get('website')?.touched">Enter a valid website (http/https)</small>
      </div>

      <!-- Phones -->
      <div formArrayName="phones" class="mb-2">
        <label class="py-2"> Phone</label>
        <div *ngFor="let phone of phones.controls; let i = index" [formGroupName]="i" class="d-flex align-items-center mb-2">
          <input type="text" pInputText formControlName="number" placeholder="Phone number" class="flex-grow-1"
                 [ngClass]="{'is-invalid': phone.get('number')?.invalid && phone.get('number')?.touched}"/>
          <button *ngIf="phones.length > 1" type="button" pButton icon="pi pi-minus" class="p-button-danger ml-2" (click)="removePhone(i)"></button>
        </div>
        <button type="button" label="Add Phone" class="btn btn-primary mt-2" (click)="addPhone()">+ Add phone</button>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <button type="submit" pButton label="Save" class="btn btn-success mr-2"></button>
        <button type="button" pButton label="Cancel" class="btn btn-primary" (click)="productDialog=false"></button>
      </div>
    </div>
  </form>
</p-dialog>
