<div class="flex justify-content-between align-items-center surface-0 p-3 shadow-1">
  <!-- Logo Section -->
  <div class="flex align-items-center">
    <!-- <img src="assets/logo.png" alt="Logo" height="30" class="mr-2" /> -->
    <span class="text-xl font-bold">CollectCo</span>
  </div>

  <!-- Profile Section -->
  <div class="flex align-items-center gap-3">
      <i class="pi pi-user"></i>
    <span class="font-medium">Cedar Financial</span>
    <span class="font-normal">Anum Shafique</span>
  </div>
</div>