<div class="grid min-h-screen surface-ground mt-5">

  <!-- Left Section (Welcome message) -->
  <div class="col-6 md:col-4 flex flex-column justify-content-center align-items-center bg-left p-4">
    <h2 class="text-4xl font-bold text-center">
      Revolutionizing <span class="text-primary">Cashflow</span> with<br />
      Passionate Tech
    </h2>
  </div>

  <!-- Right Section (Login / Sign Up card) -->
  <div class="col-6 md:col-6  p-4">

    <!-- Login Form -->
    <p-card class="w-full max-w-30rem p-4 shadow-sm" *ngIf="showLogin">
      <div class="text-center mb-4">
        <!-- <img src="assets/logo.png" alt="CollectCo" width="120" /> -->
        <h2 class="mt-2">Login</h2>
        <p>
          Don’t have an account?
          <span class="text-primary cursor-pointer" (click)="toggleForm()">Sign up</span>
        </p>
      </div>

      <div class="mb-3">
        <label>Email: <span class="text-red-500">*</span></label>
        <input pInputText type="text" [(ngModel)]="apiLoginObj.EmailId" class="w-full" />
      </div>

      <div class="mb-3">
        <label>Password: <span class="text-red-500">*</span></label>
        <input pInputText type="password" [(ngModel)]="apiLoginObj.Password" class="w-full" />
      </div>

      <div class="flex align-items-center justify-content-between mb-3">
        <div>
          <p-checkbox binary="true" inputId="remember"></p-checkbox>
          <label for="remember" class="ml-2">Remember Me</label>
        </div>
         <a href="password" class="text-primary cursor-pointer">
    Forgot Password?
  </a>
      </div>

      <button pButton type="button" label="Login" (click)="onLogin()" class="w-full rounded"></button>
      <button pButton type="button" label="Sign In with SSO" class="w-full mt-2 p-button-outlined rounded"></button>

      <p class="text-center text-sm mt-3">
        By signing in, you agree to our <span class="text-primary">Terms & Conditions</span>
      </p>
    </p-card>

    <!-- Sign Up Form -->
    <p-card class="w-full max-w-30rem p-4 shadow-2" *ngIf="!showLogin">
      <h2 class="text-center mb-4">Sign Up</h2>

      <form (ngSubmit)="onSubmit()" #signupForm="ngForm" class="p-fluid">
        <div class="row">
          <div class="field mb-3 col-6">
            <label for="firstName">First Name</label>
            <input id="firstName" name="firstName" type="text" pInputText [(ngModel)]="user.firstName" required />
          </div>

          <div class="field mb-3 col-6">
            <label for="lastName">Last Name</label>
            <input id="lastName" name="lastName" type="text" pInputText [(ngModel)]="user.lastName" required />
          </div>
        </div>
        <div class="row">
          <div class="field mb-3 col-6">
            <label for="country">Country</label>
            <p-dropdown [options]="countries" [(ngModel)]="user.country" name="country" placeholder="Select a Country"
              optionLabel="name">
            </p-dropdown>
          </div>

          <div class="field mb-3 col-6">
            <label for="businessClass">Business Class</label>
            <input id="businessClass" name="businessClass" type="text" pInputText [(ngModel)]="user.businessClass"
              required />
          </div>
        </div>
        <div class="row">

          <div class="field mb-3 col-6">
            <label for="phoneNo">Phone No</label>
            <input id="phoneNo" name="phoneNo" type="tel" pInputText [(ngModel)]="user.phoneNo" required />
          </div>

          <div class="field mb-3 col-6">
            <label for="companyName">Company Name</label>
            <input id="companyName" name="companyName" type="text" pInputText [(ngModel)]="user.companyName" required />
          </div>
        </div>

        <button pButton type="submit" label="Sign Up" class="p-button-primary w-full rounded"></button>

        <p class="text-center mt-3">
          Already have an account?
          <span class="text-primary cursor-pointer" (click)="toggleForm()">Login</span>
        </p>
      </form>
    </p-card>

  </div>
</div>